/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

#logo-image, #profile-pic {
  height: 40px;
  width: 40px;
}

#profile-pic {
  border-radius: 2px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.header-green {
  background-color: #ececec; /* light grey */
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #319626 0%, #d0ef43 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #319626 0%, #d0ef43 100%);
  border-image: linear-gradient(to right, #319626 0%, #d0ef43 100%);
  border-image-slice: 1;
  border-left: 0px;
  border-right:0px;
  border-top:0px;
  box-shadow: none;
}

#mic-button {
  align-items: center;
}

#mic-container {
  margin: 0 auto;
}

.red-button {
  background-color: #dc4a35 !important; /* red */
}

.green-button {
  background-color: #319626 !important; /* green */
}

.page-footer {
  background-color: transparent;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-copyright.light-grey {
  background-color: transparent; /* transparent */
}
