/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.login-container a {
  display: block;
  height: auto;
  margin: 0 auto;
  min-width: 185px;
  padding: 5px 7px;
  width: 20%;
}

#big-logo-image {
  display: block;
  height: 200px;
  margin: 0 auto;
  margin-top: 50px;
  width: 200px;
}

.btn-facebook {
  background: linear-gradient(to bottom, #446EA9 0%,#446EA9 55%,#000000 55%,#3B5998 55%,#3B5998 100%);
  font-family: "Helvetica Neue", helvetica;
  text-transform: none;
}

.not-logged-in {
  background: #92DB3A; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #92DB3A) no-repeat center center fixed; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #92DB3A) no-repeat center center fixed; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #92DB3A) no-repeat center center fixed; /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #92DB3A) no-repeat center center fixed; /* Standard syntax */
  background-size: cover;
}

#logo-image, #profile-pic {
  height: 40px;
  width: 40px;
}

#profile-pic {
  border-radius: 2px;
  margin-bottom: 5px;
  object-fit: cover;
  vertical-align: middle;
}

#display-name {
  color: #92DB3A;
  font-weight: 200;
  line-height: initial;
  margin: 10px;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.header-green {
  background-color: #ececec; /* light grey */
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #319626 0%, #d0ef43 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #319626 0%, #d0ef43 100%);
  border-image: linear-gradient(to right, #319626 0%, #d0ef43 100%);
  border-image-slice: 1;
  border-left: 0px;
  border-right:0px;
  border-top:0px;
  box-shadow: none;
}

#mic-button {
  align-items: center;
}

#mic-container {
  margin: 0 auto;
}

.red-button {
  background-color: #dc4a35 !important; /* red */
}

.green-button {
  background-color: #319626 !important; /* green */
}

.page-footer {
  background-color: transparent;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-copyright.light-grey {
  background-color: transparent; /* transparent */
}
